/*

!/Sourcecode/C_prj
/Sourcecode/C_prj/*
!/Sourcecode/C_prj/*.md
!/Sourcecode/C_prj/test_lenet
/Sourcecode/C_prj/test_lenet/.vs
/Sourcecode/C_prj/test_lenet/x64



!/Sourcecode/python_code

/Sourcecode/python_code/.idea
/Sourcecode/python_code/data
/Sourcecode/python_code/processed
/Sourcecode/python_code/raw

!/Sourcecode/dataset
/Sourcecode/dataset/test
/Sourcecode/dataset/test_bin
/Sourcecode/dataset/images


 

!/Sourcecode/HLS_prj
/Sourcecode/HLS_prj/*
!/Sourcecode/HLS_prj/*.log
!/Sourcecode/HLS_prj/lenet_hls
/Sourcecode/HLS_prj/lenet_hls/s_pipe
/Sourcecode/HLS_prj/lenet_hls/solution1

!/Sourcecode/vivado_prj
/Sourcecode/vivado_prj/*
!/Sourcecode/vivado_prj/README.md
!/Sourcecode/vivado_prj/ip/*zip
!/Sourcecode/vivado_prj/sdk_files
!/Sourcecode/vivado_prj/lenet/lenet.bit
!/Sourcecode/vivado_prj/lenet/lenet.hwh
!/Sourcecode/vivado_prj/lenet/lenet.tcl

!/Sourcecode/jupyter_files
 

!/images
!/*.md

!/ExecutableFiles