/*

!/C_prj
/C_prj/*
!/C_prj/test_lenet
/C_prj/test_lenet/.vs
/C_prj/test_lenet/x64



!/python_code
/python_code/.idea
/python_code/data
/python_code/processed
/python_code/raw
/python_code/parameter/*.txt

!/dataset
/dataset/test
/dataset/test_bin
/dataset/images
/dataset/labels


!/imgs


!/HLS_prj
/HLS_prj/*
!/HLS_prj/lenet_hls
/HLS_prj/lenet_hls/s_pipe
/HLS_prj/lenet_hls/solution1
 