/*

!/C_prj
/C_prj/*
!/C_prj/*.md
!/C_prj/test_lenet
/C_prj/test_lenet/.vs
/C_prj/test_lenet/x64



!/python_code

/python_code/.idea
/python_code/data
/python_code/processed
/python_code/raw

!/dataset
/dataset/test
/dataset/test_bin
/dataset/images


 

!/结果信息
!/系统框架图.png
!/*.md


!/HLS_prj
/HLS_prj/*
!/HLS_prj/*.log
!/HLS_prj/lenet_hls
/HLS_prj/lenet_hls/s_pipe
/HLS_prj/lenet_hls/solution1

!/vivado_prj
/vivado_prj/*
!/vivado_prj/README.md
!/vivado_prj/ip/*zip
!/vivado_prj/sdk_files
!/vivado_prj/lenet/lenet.bit
!/vivado_prj/lenet/lenet.hwh
!/vivado_prj/lenet/lenet.tcl

!/jupyter_files
 